/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Chokokutai&family=Outfit:wght@100;400;700&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chokokutai&family=Cinzel+Decorative:wght@700&family=Outfit:wght@100;400;700&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chokokutai&family=Cinzel+Decorative:wght@700&family=Foldit:wght@900&family=Outfit:wght@100;400;700&family=Righteous&display=swap");

/* Custom Properties */
:root {
  --main-color: #01040b;
  --accent-color: ;
  --button-color: #c30805;
  --button-hover: #d54a1a;
}

/* scoll bar */
body::-webkit-scrollbar {
  width: 0.8em;
  background: #305dff02;
}

body::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #fdae04;
}

body::-webkit-scrollbar-track {
  background-color: #f5f5f500;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(
    --main-color
  ); /* Dark background color for the whole page */
  color: #ffffff; /* Text color for the whole page */
}

/* Header Section */
.header-container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  /* background-color: #01040b; */
  background-repeat: no-repeat;
  padding: 0px 0;
}

.nav-line {
  max-width: 1200px;
  border: none;
  background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d, #1a2a6c);
  height: 5px;
  background-size: 200% auto; /* Increase the background size to create the animation effect */
  animation: gradientMove 10s linear infinite; /* Adjust the duration as per your preference */
}

/* Define the keyframes for the animation */
@keyframes gradientMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.nevx {
  font-family: "Foldit", cursive;
  font-size: 4rem;
}

.logo {
  /* Adjust the logo size as needed */
  display: inline;
  font-size: 2.5rem;
  font-family: "Cinzel Decorative", cursive;
  margin: 0;
  padding: 0;
  color: orange;
}

.menu {
  float: right;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.menu li {
  display: inline-block;
  margin-left: 20px;
}

.menu a {
  font-size: 1rem;
  text-decoration: none;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
}

.menu a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ff5500;
  transition: 0.3s ease;
}
.menu a:hover {
  color: #000000;
  font-weight: bolder;
  transition-delay: 0.5s;
}

.menu a:hover::before {
  width: 100%;
}
.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ff5500;
  border-radius: 0.4rem 0.4rem 0rem 0rem;
  transition: 0.3s ease;
  z-index: -1;
}

.menu a:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}

/* Hero Section */
.hero {
  background-image: url("/images/kenashika_A_photo-realistic_image_of_a_black_hip-hop_artist_set_3739aa16-ce2f-4a88-b47c-f6c69a7c536d.png");
  background-position: 60%;
  background-repeat: no-repeat;
  color: #ffffff; /* Text color for the hero content */
  padding: 10rem 0;
  position: relative;
  z-index: -1;
}

.hero-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-text {
  max-width: 500px;
  flex: 1;
  letter-spacing: 0.1rem;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero-gradient {
  background-image: linear-gradient(
    45deg,
    #f9c449 0%,
    #0799aa 50%,
    #c30805 75%,
    #f9c449 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200% auto; /* Increase the background size to create the animation effect */
  animation: gradientMove 5s ease-in-out normal infinite; /* Adjust the duration as per your preference */
}

/* Define the keyframes for the animation */
@keyframes gradientMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.hero-image {
  flex: 1;
  text-align: right;
}

.hero-image img {
  max-width: 100%;
}

.hero-heading {
  font-size: 4.5rem;
  margin-bottom: 5rem;
}

.hero-description {
  font-size: 1.5rem;
  margin-bottom: 40px;
  line-height: 2rem;
  letter-spacing: 0.2rem;
}

.hero-button,
.hero-button::after {
  padding: 16px 20px;
  font-size: 1.5rem;
  background: linear-gradient(45deg, transparent 5%, #ff013c 5%, #ff822e);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 1;
  box-shadow: 6px 0px 0px #006eff;
  outline: transparent;
  position: relative;
  cursor: pointer;
}

.hero-button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "Explore";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.hero-button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
  cursor: pointer;
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

/* Music Section */
.music {
  /* background-color: #1135516b; Dark background color for the music section */
  background: #01040b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #02091b,
    #01040b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #02091b,
    #01040b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 10rem 0;
}

.music-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.section-heading {
  color: #ffffff; /* Text color for the section heading */
  text-align: center;
  margin-bottom: 30px;
}

.track-cards {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Adjust the number of columns as needed */
  grid-gap: 20px;
}

.track-card {
  background-image: -webkit-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.658),
      rgba(0, 0, 0, 0.658)
    ),
    url("/images/kenashika_A_dynamic_logo_for_a_hip-hop_music_website_incorporat_4d4c481f-3714-45ed-8172-4a2d9f2d3626.png");
  background-size: cover;
  padding: 20px;
  text-align: center;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

.track-card img {
  max-width: 25%;
  border-radius: 6px;
}

.track-card h3 {
  color: #ffffff; /* Text color for track titles */
  font-size: 2rem;
  margin-top: 10px;
}

.track-card p {
  color: #bfbfbf; /* Text color for artist names */
  font-size: 1rem;
  margin-top: 5px;
}

.track-card audio {
  width: 100%;
  margin-top: 20px;
}

.music-button {
  min-height: 53px;
  min-width: 166px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative;
  cursor: pointer;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(-12.74%, rgba(255, 209, 110, 0.5)),
    color-stop(56.76%, rgba(255, 215, 106, 0.271))
  );
  background: linear-gradient(
    90deg,
    rgb(253, 176, 9) -12.74%,
    rgb(248, 30, 15) 56.76%
  );
  border: 2px solid #acf7ff;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
}

.music-button::before {
  content: "";
  width: 4px;
  height: 28px;
  background: #19173b;
  border: 2px solid #acf7ff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  bottom: -7px;
  left: 4px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.music-button::after {
  content: "";
  position: absolute;
  left: -2px;
  bottom: -2px;
  border-top: 15px solid transparent;
  border-left: 15px solid #fffcf7;
}

/* audio player */
.player {
  max-width: 50%;
  color: #fff;
  padding: 20px;
  padding-top: 0.1rem;
  border-radius: 3.2rem;
  margin: 0 auto;
}

.play-btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: linear-gradient(
    30deg,
    rgba(0, 42, 255, 0.304) 20%,
    rgba(51, 255, 245, 0.397) 80%
  );
  transition: all 0.3s ease-in-out 0s;
  box-shadow: rgba(193, 244, 246, 0.698) 0px 0px 0px 0px;
  animation: 2.2s cubic-bezier(0.1, 0, 0, 1) 0s infinite normal none running
    pulse;
  align-items: center;
  border: 0;
}

.play-btn:hover {
  display: flex;
  justify-content: center;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: linear-gradient(
    30deg,
    rgb(255, 0, 0) 20%,
    rgba(255, 0, 0, 0.603) 80%
  );
  transition: all 0.3s ease-in-out 0s;
  box-shadow: rgb(248, 5, 5) 0px 0px 0px 0px;
  animation: 0.5s cubic-bezier(0.1, 0, 0, 1) 0s infinite normal none running
    pulse;
  align-items: center;
  border: 0;
}

@keyframes pulse {
  100% {
    box-shadow: 0rem 0rem 1rem 0.5rem rgba(193, 244, 246, 0);
  }
}

.progress {
  margin-top: 1rem;
  width: 100%;
  height: 5px;
  background: #484848;
  background: -moz-linear-gradient(left, #484848 0%, #828282 50%, #cccccc 100%);
  background: -webkit-linear-gradient(
    left,
    #484848 0%,
    #828282 50%,
    #cccccc 100%
  );
  background: linear-gradient(to right, #484848 0%, #828282 50%, #cccccc 100%);
  border-radius: 5px;
}

.progress:hover {
  width: 100%;
  height: 10px;
  background-color: #00000044;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.progress-fill {
  background: #017300;
  background: -moz-linear-gradient(left, #017300 0%, #94cb84 50%, #37ff00 100%);
  background: -webkit-linear-gradient(
    left,
    #017300 0%,
    #94cb84 50%,
    #37ff00 100%
  );
  background: linear-gradient(to right, #017300 0%, #94cb84 50%, #37ff00 100%);
  height: 100%;
  border-radius: 5px; /* matched to container */
  cursor: pointer;
}

.progress-fill:hover {
  background-color: #2bff75;
  height: 100%;
  border-radius: 5px; /* matched to container */
  cursor: pointer;
  transition: all 0.9s ease-in-out;
}

.volume-slider {
  width: 100px;
  accent-color: #baffdb;
  cursor: pointer;
}


/* Beats Section */
.beats {
  position: relative;
  background-color: #02091b;
  background: #02091b;
  background: -webkit-linear-gradient(to top, #030e2b, #02091b);
  background: linear-gradient(to top, #030e2b, #02091b);
  padding: 40px 0;
  overflow: hidden;
}

.beats-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; 
}

.section-heading {
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}

.beat-cards {
  display: inline-flex;
}

.beat-card {
  background-image: -webkit-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.658),
      rgba(0, 0, 0, 0.658)
    ),
    url("/images/DreamShaper_v7_music_beat_logo_0.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0%;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  margin-right: 20px; 
}

.beat-card h3 {
  color: #ffffff;
  font-size: 18px;
  margin-top: 10px;
}

.beat-card p {
  color: #bfbfbf;
  font-size: 14px;
  margin-top: 5px;
}

.beats-button {
  display: block;
  text-align: center;
  background-color: #ff5500;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.beats-button:hover {
  background-color: #ff7700;
}

/* Beats Section */
/* .beats {
  background-color: #02091b;
  background: #02091b;
  background: -webkit-linear-gradient(to top, #030e2b, #02091b);
  background: linear-gradient(to top, #030e2b, #02091b);

  padding: 40px 0;
}

.beats-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


.beats-scroll-container {
  overflow: hidden;
}



.section-heading {
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}

.beat-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  white-space: nowrap;
}

.beat-card {
  background-image: -webkit-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.658),
      rgba(0, 0, 0, 0.658)
    ),
    url("/images/DreamShaper_v7_music_beat_logo_0.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0%;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

.beat-card img {
  max-width: 100%;
  border-radius: 6px;
}

.beat-card h3 {
  color: #ffffff;
  font-size: 18px;
  margin-top: 10px;
}

.beat-card p {
  color: #bfbfbf;
  font-size: 14px;
  margin-top: 5px;
}

.beats-button {
  display: block;
  text-align: center;
  background-color: #ff5500;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.beats-button:hover {
  background-color: #ff7700;
} */

/* About Section */
.about {
  background-color: #000102;
  padding: 40px 0;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr;
  gap: 0px 20px;
  grid-template-areas:
    "header header header"
    "img bio bio";
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.section-heading {
  color: #ffffff;
  text-align: center;
  font-size: 3rem !important;
  grid-area: header;
}

.artist-bio {
  color: #bfbfbf; /* Text color for the artist bio */
  font-size: 1.5rem;
  line-height: 1.6;
  grid-area: bio;
}

.artist-image img {
  max-width: 100%;
  border-radius: 40%;
  margin-top: 20px;
  grid-area: img;
}

/* Testimonials Section */
.testimonials {
  /* background-color: #1c1c1c; Dark background color for the testimonials section */
  background: #000102; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #434343,
    #000102
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #434343,
    #000102
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 40px 0;
}

.testimonials-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.section-heading {
  color: #ffffff; /* Text color for the section heading */
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}

.testimonial-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.testimonial-card {
  background-color: #121212; /* Darker background color for testimonial cards */
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  flex: 0 1 48%; /* Adjust the width of testimonial cards as needed */
  margin-bottom: 20px;
}

.testimonial-card img {
  display: block;
  max-width: 80px;
  border-radius: 50%;
  margin: 0 auto 10px;
}

.testimonial-text {
  color: #bfbfbf; /* Text color for testimonial content */
  font-size: 16px;
  margin-bottom: 15px;
}

.testimonial-author {
  color: #ffffff; /* Text color for testimonial author */
  font-size: 14px;
}

/* Contact Section */
.contact {
  /* background-color: #1c1c1c; Dark background color for the contact section */
  padding: 40px 0;
}

.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.section-heading {
  color: #ffffff; /* Text color for the section heading */
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  color: #ffffff; /* Text color for form labels */
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #bfbfbf; /* Border color for form inputs */
  background-color: #121212; /* Darker background color for form inputs */
  color: #ffffff; /* Text color for form inputs */
}

.form-group textarea {
  resize: vertical;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  background-color: #ff5500; /* Submit button background color */
  color: #ffffff; /* Text color for the submit button */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #ff7700; /* Submit button background color on hover */
}

/* Call to Action Section */
.cta {
  background-color: #1c1c1c; /* Dark background color for the CTA section */
  padding: 40px 0;
  text-align: center;
}

.cta-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.section-heading {
  color: #ffffff; /* Text color for the section heading */
  font-size: 24px;
  margin-bottom: 20px;
}

.cta-text {
  color: #bfbfbf; /* Text color for the CTA description */
  font-size: 16px;
  margin-bottom: 30px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-form input[type="email"] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  background-color: #121212; /* Darker background color for the input field */
  color: #ffffff; /* Text color for the input field */
  margin-right: 10px;
}

.subscribe-button {
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  background-color: #ff5500; /* Subscribe button background color */
  color: #ffffff; /* Text color for the subscribe button */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe-button:hover {
  background-color: #ff7700; /* Subscribe button background color on hover */
}

/* Footer Section */
.footer {
  background-color: #1c1c1c; /* Dark background color for the footer section */
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.social-links {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #ffffff; /* Icon color for social media links */
  background-color: #ff5500; /* Background color for social media links */
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.social-icon:hover {
  background-color: #ff7700; /* Background color for social media links on hover */
}

.social-icon i {
  vertical-align: middle;
}

.social-icon:hover i {
  animation: rotate 1s infinite;
}

/* Copyright text style */
.copyright {
  color: #bfbfbf; /* Text color for the copyright text */
  font-size: 14px;
}

/* Go to Top Button */

.go-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff5500;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 25px;
  display: none;
  cursor: pointer;
}

.go-to-top a {
  text-decoration: none;
  color: inherit;
} 

/* Styles for responsiveness */
@media screen and (max-width: 1024px) {
  .hero-img {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    opacity: 0.7;
    position: absolute;
  }

  /* music cards */
  .track-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  /* beat cards */
  .beat-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  /* about section */
  .artist-bio {
    font-size: 20px;
  }

  .artist-image img {
    max-width: 80%;
  }
}

@media screen and (max-width: 768px) {
  /* header */
  .logo {
    max-width: 120px;
    text-align: center;
  }

  .menu {
    float: none;
    text-align: center;
    margin-top: 10px;
  }

  .menu li {
    display: block;
    margin: 10px 0;
  }

  .menu a {
    font-size: 1rem;
    text-decoration: none;
    background: transparent;
    border: none;
    padding: 0.3em 0.5em;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
  }

  .menu a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #ff5500;
    transition: 0.3s ease;
  }
  .menu a:hover {
    color: #000000;
    font-weight: bolder;
    transition-delay: 0.5s;
  }

  .menu a:hover::before {
    width: 100%;
  }
  .menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0px;
    width: 100%;
    background-color: #ff5500;
    border-radius: 0.2rem 0.2rem 0rem 0rem;
    transition: 0.3s ease;
    z-index: -1;
  }

  .menu a:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
  }

  /* Hero Section */
  .hero {
    background-image: url(/images/kenashika_A_photo-realistic_image_of_a_black_hip-hop_artist_set_3739aa16-ce2f-4a88-b47c-f6c69a7c536d.png);
    background-size: auto;
  }

  .hero-content {
    flex-direction: column; /* Stack elements on small screens */
    opacity: 1;
  }

  .hero-img {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    opacity: 0.7;
    position: absolute;
  }

  .hero-text {
    flex: 1;
    max-width: 100%;
    text-align: center;
  }

  /* music cards */
  .track-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  /* beat cards */
  .beat-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  /* about section */

  .about-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr;
    gap: 10px 0px;
    grid-template-areas:
      "header header header"
      "img img img"
      "bio bio bio";
  }

  .artist-bio {
    grid-area: bio;
    justify-content: center;
    font-size: 20px;
  }

  .artist-image img {
    grid-area: img;
    align-self: center;
    max-width: 150%;
  }

  /* testimonial section */
  .testimonial-card {
    flex-basis: 100%;
  }

  .testimonial-card img {
    max-width: 60px;
  }

  /* contact form */
  .contact-form {
    max-width: 100%;
  }

  /* newsletter form */
  .newsletter-form {
    flex-direction: column;
  }

  .newsletter-form input[type="email"] {
    width: 100%;
    margin-bottom: 10px;
  }

  /* Go to Top Button */
.go-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #6b2400;
  color: #ffffff;
  padding: 2px 5px;
  border-radius: 10px;
  display: none;
}

.go-to-top a {
  text-decoration: none;
  color: inherit;
}
}
